<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ESV Read Along</title>
        <link rel=stylesheet href="style.css">
        
    </head>
    <body>
        <ol id='notification_view' hidden></ol>
        <script type="text/template" id="notification_template" aria-live="assertive">
            <li title="Close notification" data-cid="<%= cid %>" class="notification <%= type %>"><%= message %></li>
        </script>
        
        <h1>ESV Read Along</h1>
        
        <div id="query_view"></div>
        <script type="text/template" id="query_template">
            <form action="javascript:">
                <label for="book">Passage:</label>
                <select id=book name=book required>
                    <% _.each(books, function(option){ %><option value="<%= option.value %>"><%= option.text %></option><% }); %>
                </select>
                <input type=number id=chapter name=chapter min=1 value=1 step=1 size=3 required>
                <button type=submit>View</button>
            </form>
        </script>
        
        
        <div id="chapter_view"></div>
        <script type="text/template" id="chapter_template">
            <section>
                <h2><%= title %></h2>
                <audio></audio>
                <div class="text">
                    <em>Loading...</em>
                </div>
            </section>
        </script>
        
        <footer>
            <a href="http://weston.ruter.net/" rel=author>Weston Ruter</a><br>
            <a href="https://github.com/westonruter/esv-audio-timings">ESV Audio Timings</a><br>
            <time>2011-09-04</time>
        </footer>
        
        <script src="underscore.js"></script>
        <script src="jquery.js"></script>
        <script src="backbone.js"></script>
        <script src="models.js"></script>
        <script src="views.js"></script>
        <script src="routes.js"></script>
    </body>
</html>
