body {
    font-family: sans-serif;
}


#notification_view {
    position: fixed;
    left:30%;
    right:30%;
    top:0;
    display:block;
    min-height:25px;
    line-height:25px;
    font-size:15px;
    margin:0;
    padding:0;
    
    text-align:center;
    
    background: rgba(230,230,230,0.90);
    border: solid 1px gray;
    border-top: none;
    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#notification_view .notification {
    list-style: none;
    display: block;
    cursor: pointer;
}
#notification_view .notification:focus,
#notification_view .notification:hover {
    text-decoration: underline;
}
#notification_view .notification.error {
    color:red;
    /*background: #FFCCCC;*/
}

#notification_view[hidden] {
    display: none;
}


body > footer {
    margin-top:2em;
    padding-top:1em;
    border-top:solid 1px gray;
    font-size:smaller;
}